/* Removes the bullet points from the list */
ul {
  margin: 0;
  padding: 0;
}

/* Format the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 10px 8px 10px;
  background: rgba(183, 235, 206, 0.685);
  font-size: 20px;
  transition: 0.2s;

  /* Makes the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Changes the color of the list item when hovered over */
ul li:hover {
  background: rgb(203, 202, 204);
}

/* Formats the checked list item */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add the check mark once clicked */
ul li.checked::before {
  content: url(check.png);
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 10px;
  transform: rotate(45deg);
  height: 14px;
  width: 5px;
  zoom: 5%;
}

/* Formats the header */
.header {
  background-color: #a7d3ecef;
  padding: 20px 30px 50px;
  color: #757070;
  text-align: left;
}

/* Styles the text field */
#newItem {
  margin: 0;
  width: 40%;
  padding: 10px;
  float: left;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 5px;
}

/* Styles the Add button */
button {
  padding: 8px;
  width: 20vh;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  border-radius: 5px;
}

/* Changes the color and size when button is hovered over */
button:hover {
  background-color: rgb(203, 202, 204);
  transform: scale(1.05)
}

/* Formats the close button for each list item */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 16px 10px 16px;
}

/* Changes the style of the close button when hovered over */
.close:hover {
  background-color: #c90a3a;
  color: white;
}

